body {
    margin :0;
    background-color:yellow;
   }p{
   font-size: medium ;
   font-family:Times New Roman,Times San Serif;
   }h1{
   text -align:center;
   }img{
   margin-right:80%;
   width:120px;
   height: 150px;
   border-radius:100px;
   }audio{
   width: 300px;
   height: 300px;
   }video{
   width:300px;
   height:300px;
   
}
